{% extends 'base_layout.html' %}
{% load static %}

{% block script %}
{%endblock%}


{%block title%}stage4{%endblock%}




{% block head %}
<div class="head">
    <h1>
        4.선택은 판단을 할 수 있을때 해라.
    </h1>
</div>
{% endblock%}



{%block content%}


<div class="content">
        <li class="story">
            <img src="{%static 'img/forthebest.jpg'%}" alt="이미지오류">
            <ul>미친건가.. 갑자기 에스컬레이터가 하늘위에 내려와있다!</ul>
            <ul>확실히 여기는 지구가 아니다</ul>
            <ul>무엇인지 모를 이질감이 든다..</ul>
            <br>
            <br>
            <br>
            <ul>에스컬레이터를 일단 올라가본다</ul>
            <ul style="color: royalblue">아닛!</ul>
            <ul>무엇인지 모를 영롱한 벽이 나를 막고있다..</ul>
            <ul>에스컬레이터를 작동시키자.</ul>
            <br>
            <br>
            <br>
            <br>
            <ul>이번에는 정답을 외칠수가 없네????</ul>
        </li>
    </div>
<!--
    hint:
        in url
        *on*
-->
{%endblock%}